{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<section>
  <div class="container">
    <div class="row" style = "padding-top: 50px";>
      The first doughnut machine did not come along until 1920, in New York City, when Adolph Levitt, an enterprising refugee from czarist Russia, began selling fried doughnuts from his bakery. Hungry theater crowds pushed him to make a gadget that churned out the tasty rings faster, and he did.

      Levitt's doughnut machine was the first sign that the doughnut, till then merely a taste sensation, could, in production, become a public spectacle. And so generations of kids like me, and adults, too, have stood transfixed by the Willy Wonka-like scene behind the glass of doughnut shops, learning in the process that the doughnut hole is built in, not cut out. There before them a circle of dough, shaped like a perfect smoke ring, and about the diameter of a baseball, dropped off into a vat of boiling oil, circulated, got turned over to brown on the other side, and emerged from the oil on a moving ramp, one by one like ducks in a row.

      The machines grew more refined. The idea spread. By 1931, the New Yorker was whispering to its readers, "We can tell you a little about the doughnut-making place in Broadway," and described how "doughnuts float dreamily through a grease canal in a glass enclosed machine, walk dreamily up a moving ramp, and tumble dreamily into an outgoing basket."
    </div>
    <div class="row" style="padding-bottom: 50px; padding-top: 100px";>
        <div class = "col-md-3 border"><img src="{% static 'images/custard.png' %}" class="img-fluid">
          <figcaption class="figure-caption text-center">Nutella Smores</figcaption>
          <p class="text-center"> Rp.100.000 </p>
        </div>
        <div class = "col-md-3 border"><img src="{% static 'images/custard.png' %}" class="img-fluid">
          <figcaption class="figure-caption text-center">Hokkaido Custard</figcaption>
          <p class="text-center"> Rp.100.000 </p>
        </div>
          <div class = "col-md-3 border"><img src="{% static 'images/custard.png' %}" class="img-fluid">
            <figcaption class="figure-caption text-center">Snickers</figcaption>
            <p class="text-center"> Rp.100.000 </p>
          </div>
        <div class = "col-md-3 border"><img src="{% static 'images/pbnj.png' %}" class="img-fluid">
            <figcaption class="figure-caption text-center">Es Cendol</figcaption>
            <p class="text-center"> Rp.100.000 </p>

        </div>
      </div>
  </div>
</section>

{% endblock content %}
